.navbar {
  width: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  padding: 12px 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 999;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBox {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.logoBox img {
  width: 45px;
  filter: drop-shadow(0 0 8px #22c55e);
}

.logoBox h4 {
  font-weight: bold;
  letter-spacing: 1px;
}

.links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.link {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #22c55e;
  transition: 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.link:hover {
  color: #22c55e;
}

.active {
  color: #22c55e !important;
  font-weight: bold;
}

.active::after {
  width: 100% !important;
}

.cartLink {
  position: relative;
}

.badge {
  background: crimson;
  color: white;
  border-radius: 50%;
  padding: 4px 7px;
  font-size: 11px;
  position: absolute;
  top: -10px;
  right: -14px;
  box-shadow: 0 0 10px crimson;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.authBtn {
  background: #22c55e;
  color: white;
  padding: 7px 18px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

.authBtn:hover {
  transform: scale(1.1);
}

.authBtnOutline {
  border: 2px solid #22c55e;
  padding: 6px 18px;
  color: #22c55e;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 14px;
}

.authBtnOutline:hover {
  background: #22c55e;
  color: white;
}

.activeBtn {
  background: #22c55e !important;
  color: white !important;
  box-shadow: 0 0 10px #22c55e;
}

.logoutBtn {
  background: crimson;
  border: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

.logoutBtn:hover {
  background: darkred;
  transform: scale(1.1);
}

.social i {
  color: #9ca3af;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s;
}

.social i:hover {
  color: #22c55e;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }

  .links {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .rightSection {
    flex-direction: column;
  }
}
